<div class="center">
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <form action="#">
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Bienvenido!</h1>
          <h5>Ingrese sus credenciales</h5>
        </div>
      </div>
    </div>
  </div>
</div>
